<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gisquest.ga.mapper.DLTBMapper">
    <!--库里数据的shape写在前面，可以利用索引-->
    <select id="intersect" resultType="DLTB">
        select t.dldm, t.dlmc, sde.st_area(t.shape) mj, sde.st_astext(t.shape) wkt from
        (select dldm, dlmc, sde.st_intersection(f.shape, SDE.ST_Geometry(#{wkt},#{srid})) shape from JQDLTB3308_2017 f
        where sde.st_intersects(f.shape, SDE.ST_Geometry(#{wkt}, #{srid}))=1) t
    </select>
    <delete id="delete">
        truncate table draw
    </delete>
    <insert id="addList" parameterType="java.util.List" useGeneratedKeys="false">
        insert into draw
        (
        id,
        shape
        )
        <foreach item="item" index="index" collection="list" separator="union all">
            (
            select
            #{item.id},
            #{item.wkt}
            from dual
            )
        </foreach>
    </insert>
</mapper>